.hero_img{
    align-self: center;
    justify-self: center;
    margin: 2% auto;
    padding: 2%;
    display: block; 
    background-color: var(--title-color-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92%;
    box-shadow: inset 0 0 0 5px rgb(255 255 255 / 30%);
    order: 1;
    justify-content: center;
    width: 600px;
    height: 350px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0%{
        border-radius: 50% 40% 30% 70%/50% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 50% 70% 40%/50% 50% 30% 50%;
    }
    100%{
        border-radius: 50% 40% 30% 70%/50% 30% 70% 40%;
    }
}

.hero__subtitle {
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
    
  }